node-red_flows/UGT509_ultrasonic_sensor.json
[{"id":"68f71c1c.847494","type":"modbustcp-read","z":"88d355ed.a80318","name":"UGT509 (Ultrasonic Sensor)","dataType":"HoldingRegister","adr":"7002","quantity":"1","rate":"0.5","server":"8bde0f02.d34bd","x":260,"y":241,"wires":[["a4c94f8d.4d5cb8"]]},{"id":"f2c77dda.b2e218","type":"mqtt out","z":"88d355ed.a80318","name":"","topic":"/v1/{your Device Id}/data","qos":"","retain":"","broker":"3b957dc9.63628a","x":952.7500152587891,"y":480.1944694519043,"wires":[]},{"id":"7b2832e4.8c2064","type":"function","z":"88d355ed.a80318","name":"relayr Payload Formatting","func":"msg.payload = {\n    meaning: 'proximity',\n    value: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"x":745.7222442626953,"y":423.0277671813965,"wires":[["f2c77dda.b2e218"]]},{"id":"a4c94f8d.4d5cb8","type":"function","z":"88d355ed.a80318","name":"Read Distance","func":"msg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"x":438.19444274902344,"y":307.74999618530273,"wires":[["dd48d11b.fe8e08"]]},{"id":"dd48d11b.fe8e08","type":"function","z":"88d355ed.a80318","name":"Exception","func":"if (msg.payload < 32000)\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":561.7500152587891,"y":372.24999618530273,"wires":[["7b2832e4.8c2064","91823cc0.6834d"]]},{"id":"91823cc0.6834d","type":"debug","z":"88d355ed.a80318","name":"","active":false,"console":"false","complete":"false","x":772.7500152587891,"y":319.24999618530273,"wires":[]}]