node-red_flows/UGT509_ultrasonic_sensor.json
[{"id":"3806317b.133e2e","type":"modbustcp-read","z":"88d355ed.a80318","name":"UGT509 (ultrasonic sensor)","dataType":"HoldingRegister","adr":"7002","quantity":"1","rate":"0.5","server":"b5d2d414.4eee88","x":182.77777099609375,"y":102.22222900390625,"wires":[["b65b10b.b37d2f"]]},{"id":"d37ea41c.b3cd08","type":"mqtt out","z":"88d355ed.a80318","name":"","topic":"/v1/{your Device Id}/data","qos":"","retain":"","broker":"b310521a.aadce","x":700.7777709960938,"y":348.66668701171875,"wires":[]},{"id":"59a73a31.61a564","type":"function","z":"88d355ed.a80318","name":"relayr Payload Formatting","func":"msg.payload = {\n    meaning: 'proximity',\n    value: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":263.00001525878906,"wires":[["d37ea41c.b3cd08"]]},{"id":"b65b10b.b37d2f","type":"function","z":"88d355ed.a80318","name":"Read Value","func":"msg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"x":338.22222900390625,"y":184.22222900390625,"wires":[["59a73a31.61a564"]]},{"id":"b5d2d414.4eee88","type":"modbustcp-server","z":"88d355ed.a80318","host":"192.168.1.250","port":"502","unit_id":"1"},{"id":"b310521a.aadce","type":"mqtt-broker","z":"88d355ed.a80318","broker":"mqtt.relayr.io","port":"8883","tls":"","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]